# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Shh Secret
Readerpt2/
.pio/
.vscode/
*.code-workspace
platformio.ini

#Allow Volume Changer
#Probably Finished
!VolumeChanger.exe 